@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1500ms ease,
    transform 1500ms cubic-bezier(0.5, 0, 0.2, 0.73);
}

.fade-leave-active {
  transition-duration: 0ms, 0ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0);
}
